<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="CookieBannerDefault"/>
<f:section name="main">
    <p>
        {settings.banner.general.text}
        <span>
            <a href="#" class="btn btn-accept" onclick="setPositiveCookie();">
                        {settings.banner.button.close}
                    </a>
            <f:if condition="{settings.banner.button.privacyPage}">
                <f:then>
                    <f:link.page pageUid="{settings.banner.button.privacyPage}" class="btn btn-more">{settings.banner.button.privacy}</f:link.page>
                </f:then>
                <f:else>
                    <button class="btn btn-more">{settings.banner.button.privacy}</button>
                </f:else>
            </f:if>
        </span>
    </p>
</f:section>
</html>
