.tx-cookie-banner {
    z-index: 999999;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    display: none;
}

.tx-cookie-banner-top {
    position: relative;
}

.tx-cookie-banner-bottom {
    position: fixed;
    bottom: 0;
}

.tx-cookie-banner p,
.tx-cookie-banner p .btn {
    font-size: 0.75rem;
}

.tx-cookie-banner p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.tx-cookie-banner p .btn {
    display: inline-block;
    padding: 1px 6px;
    border: 0;
}
